
h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: darkgoldenrod ;
    text-align: center;
    text-decoration: underline;

}


header{ background-color: orange;
   
}


h2 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: darkgoldenrod;


}

ul {
background-color: orange;
font-size: larger;
}


h3{
   background-color: burlywood
}


img {
    width:15cm;
    margin-left: 10cm;
}

